<h1>The Menu Admin Console</h1>
<div class="current-items col-md-4">
  <h2>Items that are on our menu!</h2>
  <ul>
    {{#each items}}
      {{#unless this.soldout}}
        <li>
          <h4><b>{{this.name}}</b></h4>          
          <p>{{this.description}}</p>
          <p><b>${{this.price}}</b></p>
          <form action="admin/update/{{this.id}}?_method=PUT" method="POST" class="btn-group">
            <input type="hidden" name="soldout" value="true">
            <button type="submit" class="btn btn-warning">Mark Sold Out</button>
          </form>
          <form action="admin/delete/{{this.id}}?_method=DELETE" method="POST" class="btn-group">
            <button type="submit" class="btn btn-danger">Remove From Menu</button>
          </form>
          <br>
          <br>
        </li>
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div class="sold-out-items col-md-4">
  <h2>Items that are Sold Out!</h2>
  <ul>
    {{#each items}}
      {{#if this.soldout}}
        <li>
          {{this.name}}
          <form action="admin/update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="soldout" value="false">
            <button type="submit" class="btn btn-success">Back in Stock</button>
          </form>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

<div class="add-item col-md-4">
  <h2>Add an Item</h2>
  <form class="create-update-form" action="admin/create" method="POST">
    <div class="form-group">
      <label for="item_name">Item Name:
        <input type="text" id="item_name" name="name">
      </label>
      <label for="price">Price: $
        <input type="text" id="price" name="price">
      </label>
      <label for="desc">Description:
        <textarea id="desc" name="description" rows="6" cols="55"></textarea>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Add Item</button>
  </form>
</div>
